<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-component/app.css">
    <link rel="stylesheet" href="style-component/index.css">
    <link rel="shortcut icon" href="favicon/favicon.svg" type="image/x-icon">
    <title>Start on selllab.</title>
</head>
<body>
    <header>
        <nav>
            <div class="first-column-section">
                <a href="/" class="brand-app">Selllab.</a>
                
            </div>
            <div class="middle-column-section">
                <a href="" class="link-column-section">About us</a>
                <a href="" class="link-column-section">Contact us</a>
                <a href="" class="link-column-section">Pricing</a>
                <a href="" class="link-column-section">Terms and conditions</a>
                
            </div>
            <div class="last-column-section">
                <a href="/sign-up" class="get-started-button">Get started on selllab.</a>
            </div>
        </nav>
    </header>
    <main class="hero-container-landing-page">
        <h1 class="hero-text-landing-page"><span class="icon-stars">✨</span>Get Unlimited stores for all your businesses with</h1>
        <h1 class="hero-text-landing-page">just one account on Selllab.<span class="icon-stars">✨</span></h1>
        <p class="relative-hero-landing-page">Don't waste time again. Just start now and improve onlines stores right now.</p>
        <a href="/sign-up" class="get-started-button-landing-page">Get started on selllab.</a>
    </main>
    
    <main class="hero-container-landing-page-2">
        <div class="first-column">
            <h1>Get the live <br> performances of one of your<br>store on our live tracking and more.</h1>
            <p>Start using selllab to launch mutiples online stores for your company <br> within a complete tools to manage an e-commerce store with our $5,99 plan </p>
        </div>
        <div class="second-column">
            <div class="live-report-landing-page">
                <div class="onlive usa"><p>United states U.S.</p></div>
                <div class="onlive australia"><p>Madagascar</p></div>
            <span></span><span></span><span></span><span></span>
            </div>
        </div>
    </main>
    <footer>
        <p class="powered-text">Powered by selllab.</p>
        <p class="copywrite-text">© copyright  2024 selllab.</p>
    </footer>
</body>
</html>
